.container {
    background-color: black;
    justify-content: space-around;
    text-align: center;
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: darkblue;
}

label {
    color: white;
    padding: 20px;
    text-align: center;
    margin: 12px;
}

button {
    font-weight: bold;
    color: white;
    background-color: green;
}