form {
    background-color: white;
    justify-content: space-around;
    text-align: center;
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: black;
}

button {
    font-weight: bold;
    color: white;
    background-color: darkblue;
}