.tablesmall {
    flex: 1;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 100, 5);
    position: relative;
    left: 750px;
    top: 10px;
    padding: 20px;
    margin: 2px;
    width: 600px;
}

.tableSmTitle {
    font-size: 30px;
    font-weight: 600;
}

.tableSmTable {
    width: 100%;
    border-spacing: 20px;
}

.tableLgTh {
    text-align: left;
}

.tableLgUser {
    display: inline-flex;
    font-weight: 600;
}

td img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 50px;
}

.tableSmDate,
.tableSmAmount,
.tableSmStatus {
    font-weight: 300;
}

.tableSmBtn {
    padding: 5px 7px;
    border: none;
    border-radius: 10px;
}

.tableSmBtn.Approved {
    color: black;
    background-color: lightgreen;
}

.tableSmBtn.Pendding {
    color: black;
    background-color: #fff0f1;
}

.tableSmBtn.Declined {
    color: white;
    background-color: rgb(160, 23, 40);
}