.topbar {
    width: 100%;
    height: 50px;
    background-color: white;
}

.tobarWrapper {
    height: 100px;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-weight: bold;
    font-size: 30px;
    color: darkblue;
    cursor: pointer;
}

.topbarIconContainer {
    position: relative;
}

.topIconBags {
    width: 15px;
    position: absolute;
    top: -5;
    right: 5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    justify-content: center;
    /* font-size: 10px; */
}